@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

header ul {
    display: flex;
    gap: 55px;
    list-style: none;
}

header ul a {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

header img {
    width: 140px;
    height: 80px;
}

header .login_div .a1 {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    margin-right: 23px;
}

header .login_div button {
    border-radius: 6px;
    background: rgb(244, 69, 69);
    padding: 15px 30px;
    outline: none;
    border: none;
}

header .login_div button a {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}




.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero .main {
    width: 50%;
}

.hero .main h1 {
    font-family: Poppins;
    font-size: 54px;
    font-weight: 600;
    line-height: 81px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 45px;
    margin-bottom: 25px;
}

.hero .main h1 span {
    color: rgb(24, 202, 144);
}

.hero .main p {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}

.hero .main input {
    padding: 19px 24px;
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    outline: none;
    width: 472px;
}

.hero .main button {
    padding: 10px 33px;
    border-radius: 6px;
    background: rgb(244, 69, 69);
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    outline: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 135px;
    cursor: pointer;
}

.cover {
    position: relative;
    margin-bottom: 35px;
}

.rasm {
    display: flex;
    gap: 30px;
    margin-bottom: 47px;
}

.rasm2 {
    width: 100%;
}

.for_background {
    background: rgb(142, 230, 201);
    /* opacity: 0.1; */
}

.container2 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: 112px;
}

.container2 img {
    margin: 57px 0;
}

.hero0 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 110px;
}

.hero1 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    /* margin-right: 74px; */
}

.apps {
    border-radius: 10px;
    box-shadow: 0px 15px 65px 0px rgba(65, 77, 68, 0.15);
    background: rgb(255, 255, 255);
    padding: 15px 24px 35px 10px;
    position: relative;
}

.apps .ota {
    
}

.apps .bola {
    position: absolute;
    top: 60px;
    left: 60px;
}

.hero2 {
    width: 50%;
    padding: 103px 0 0 74px;
}

.apps h1 {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 9px;
    margin-left: 30px;
}

.apps p {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 30px;
}

.hero2 h1 {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: left;
}

.hero2 p {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    margin: 20px 0 16px 0;
}

.hero2 p span {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(2, 18, 6);
}

.hero2 button {
    padding: 15px 40px;
    border-radius: 6px;
    background: rgb(40, 35, 35);
    cursor: pointer;
    margin-top: 13px;
}

.hero2 button a {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.hero2 a {
    margin-left: 25px;
    color: rgb(255, 77, 77);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}



.hero01 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 210px;
}

.hero01 .hero1 {
    width: 37%;
    display: flex;
    padding: 200px 0 200px 0;
}

.hero01 .hero2 {
    width: 63%;
}

.hero01 .hero1 h1 {
    margin-top: 33px;
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: left;
    /* margin-bottom: 20px; */
}

.hero01 .hero1 p {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    /* margin-bottom: 20px; */
}

.hero01 .hero1 ul {
    color: rgb(2, 18, 6);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    position: relative;
}

.hero01 .hero1 ul li {
    margin-left: 31px;
}

.hero01 .hero1 ul img {
    height: 20px;
    width: 20px;
    position: absolute;
}

.r1 {
    top: 5px;
}

.r2 {
    top: 49px;
}

.r3 {
    top: 93px;
}

.r4 {
    top: 138px;
}

.hero01 .hero2 img {
    /* width: 100%; */
}